
.heading {
  text-align:center;
}

.font {
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.title {
  display:inline;
  font-size:35px;
}

.logo {
  height:750px;
  text-align:center;
}

.nav {
    display:center;
    height:70px;
    background:#cfcfcf;
}

.topnav {
  overflow: hidden;
  background-color: #323D4A;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #999999;
  color: #111c29;
}

.topnav a.active {
  background-color: #4ca69e;
  color: white;
}

.showButton {
    width:fit;
    /*margin-top:50%;*/
}

.slideshow_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:500px;
}

.slideshow_container {
    display:table;
    height:fit;
}

.hiddenSS {
  display:none;
}

.hidden {
  display:none;
}

.maintext {
  margin:50px;
}

.body {
  margin:10%;
}

.box {
  width:80%;
  border-style:solid;
  border-color:#999999;
}

.boxes {
  position:absolute;
}

.home-img {
  width:20%;
  cursor:pointer;
  padding:15px;
}

.home-text {
  width:70%;
  padding:15px;
  text-align:justify;
}

.row {
  overflow:hidden;
  width:100%;
  padding-top:25px;
  padding-bottom:25px;
}

.grey {
  background-color:#d6d6d6;
}

.white {
  background-color:#ffffff;
}

.footer-container {
  clear:both;
  position:relative;
  margin-top:100px;
  background-color:#4ca69e;
  height:50px;
  width:100%;
  bottom:0px;
}

