.nav {
    display:center;
    height:70px;
    background:#cfcfcf;
}

.topnav {
  overflow: hidden;
  background-color: #323D4A;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #999999;
  color: #111c29;
}

.topnav a.active {
  background-color: #4ca69e;
  color: white;
}

.grade-button {
  float:left;
  width:15%;
  height:50px;
  text-align:center;
  background-color:#4ca69e;
  cursor:pointer;
  text-decoration:none;
  color:#323D4A;
  margin:5%; /* this num should be = (width_val*4 (num of buttons))/8 (num of spaces between buttons) */
}

.hidden {
  display:none;
}

.headshot {
  height:200px;
  border-radius:20px;
  padding:35px;
}
