#container {
   min-height:100%;
   position:relative;
}

html, body {
	font-family:futura;
	height:100%;
	margin:0;
  padding:0;
  color:(25,28,31);
}

.page-title {
  text-align: center;
  text-transform:uppercase;
  text-decoration: underline;
  font-size: 50px;
  padding: 1% 0% 0.25% 0%;
}

.page-subtitle {
  text-align: center;
  font-size: 25px;
  padding: 0% 2%;
  margin:0%
}
/* Start of Header/Nav */

#header {
   padding:0;
}

#auv-image {
	height: 60px;
	width: 90px;
}

.banner {
	height:100%; 
	width:100%;
}

.navbar-color {
	background-color:#F0F0F0;
}

.nav-link {
	font-size:20px;
	margin:4px;
	text-transform: uppercase;
}

.nav-link:hover {
	text-decoration: underline;
}

/* End of Header/Nav */

#body {
   padding-bottom:100px;   /* Height of the footer */
}

/* Start of Footer */

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:50px;   /* Height of the footer */
   background:#F0F0F0;
 }

.footer-text {
	padding-left:2%;
	position:absolute;
	top: 50%;
	transform: translateY(-50%);}

/* End of Footer */

/* Start of Construction */
.construction-container {
  font-size: 50px;
}

.con-img {
  display: block;
  margin: auto;
  width:30%;
  padding-top: 5%;
}

.con1 {
  position: absolute;
  left: 48%;
  transform: translateX(-52%);
}

.con2 {
  position:absolute;
  left: 64%;
  transform: translateX(-36%);
  animation-name: dot-1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.con3 {
  position:absolute;
  left: 66%;
  transform: translateX(-34%);
  animation-name: dot-2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.con4 {
  position:absolute;
  left: 68%;
  transform: translateX(-32%);
  animation-name: dot-3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.fadeInOut {
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-direction: alternate;
}

@keyframes dot-1 {
  0% {
    opacity:0;
  }
  33% {
    opacity:1;
  }
  66% {
    opacity:1;
  }
  100% {
    opacity:1;
  }
}

@keyframes dot-2 {
  0% {
    opacity:0;
  }
  33% {
    opacity:0;
  }
  66% {
    opacity:1;
  }
  100% {
    opacity:1;
  }
}

@keyframes dot-3 {
  0% {
    opacity:0;
  }
  33% {
    opacity:0;
  }
  66% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
/* End of Construction*/

/* Start of Home*/

.content-row {
  display: flex;
  max-height: auto;
}

.content-container {
  width: 50%;
  position: relative;
}

.content-container img {
  width: 100%;
  height:100vh;
  -webkit-transition: 0.75s ;
  -moz-transition: 0.75s ;
  -ms-transition: 0.75s ;
  -o-transition: 0.75s ;
  transition: 0.75s ; 
}

.content-container .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 400%;
  color:rgb(255,255,255);
  border-bottom: 5px solid rgba(255,255,255, 0);
  -webkit-transition: border 0.75s ease;
  -moz-transition: border 0.75s ease;
  -ms-transition: border 0.75s ease;
  -o-transition: border 0.75s ease;
  transition: border 0.75s ease; 
}

.content-container:hover img {
    animation-name: darken;
    animation-iteration-count:1;
    animation-duration: 0.75s;
    filter: brightness(55%);
}

.content-container:hover .center {
	border-bottom: 5px solid rgba(255,255,255, 1);
}

@keyframes darken {
    from {filter: brightness(100%);}
    to {filter: brightness(55%);}
}

.home-title {
  font-size: 40px;
  margin: 0; 
  text-align: center;
}

.home-title-underline {
  height:5px; 
  background: rgb(25,28,31); 
  margin: 0% 10%;
}

#twitter-timeline-home {
  transform: translateX(50%);
  padding-top:5%;
  margin:0%;
  width:50%;
}

/* End of Home */

/* Start of Team */

.dropdown-btn {
  display: inline-block;
  top:75%;
  width:3%;
  transform: translateY(-25%);
  padding: 0;
  margin:0;
  transition: 0.75s;
  position:relative;
}

.dropdown-btn:hover {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  transition: 0.75s;
}

.team-info {
	display:inline-grid;
	list-style-type:none;
	width: 15%;
	margin: 2%;
}

.team-photo {
	width: 100%;
}

.team-text {
	margin: 1%;
	text-align: center;
}

.grade-title {
  padding-left:5%;
  font-size: 30px;
  text-decoration: underline;
  display: inline-block;
}

.show {
  display:block;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: 0.75s;
}

.move {
  padding-bottom:25%;
}

.rotate {
  animation-name: rotate;
  animation-iteration-count: 1;
  animation-duration: 0.75s;
  transform: rotate(180deg);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* End of Team */

/* Start of Social */

.leftcolumn { 
  float: left;
  width: 72%;
  padding-top:2%;
  padding-left:3%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-top:2%;
  padding-left: 2%;
}

.card {
  background-color: #F0F0F0;
  padding: 2%;
  margin-bottom:2%;
  border:none;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card img {
  padding:2%;
  width:50%;
  height:50%;
  left:50%;
  transform: translateX(50%);
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}

/* End of Social */

/* Start of Sponsor */

.logo-gallery-row div {
  margin-top: 5%;
  margin-right:2%;
  display:table;
  width:30%;
  border:solid 3px rgb(25,28,31); 
  height: 200px;
  float:right;
}

.logo-gallery p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding:0% 2%;
}

.logo-gallery img {
  width:30%;
  margin:0% 1.5%;
  padding-top:3%;
}
