.nav {
    display:center;
    height:70px;
    background:#cfcfcf;
}

.topnav {
  overflow: hidden;
  background-color: #323D4A;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #999999;
  color: #111c29;
}

.topnav a.active {
  background-color: #4ca69e;
  color: white;
}

.logo {
  height:100px;
  padding:20px;
}

h1 {
  text-align:center;
  font-size:50px;
}

p {
  margin-left:10%;
  margin-right:10%;
  font-size:20px;
}
