.nav {
    display:center;
    height:70px;
    background:#cfcfcf;
}

.topnav {
  overflow: hidden;
  background-color: #323D4A;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #999999;
  color: #111c29;
}

.topnav a.active {
  background-color: #4ca69e;
  color: white;
}

.headding {
    text-align:center;
}

.specnav-toggle {
    height:71px;
    clear:both;
}

.spec-button {
    border-radius: 27px 27px 27px 27px;
    float:left;
    width:300px;
    height:25px;
    text-align:center;
    background-color: #50afa7;
    padding-top:5px;
    margin-right:150px;
    cursor:pointer;
    text-decoration:none;
    font-size: 20px;
    color:#323D4A;
}

.description {
    height:450px;
}

.hidden {
    display:none;
}

.title {
    /*background-color:green;*/
    margin-left:13%;
    width:87%;
    clear:both;
}

.contents {
    /*background-color:red;*/
    float:center;
    margin-left:5%;
    width:90%;
}

#myBtn {
  display: none;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#4ca69e;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #999999;
  color:#323D4A;
}

.twitter-timeline {
  float:right;
}

.text {
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
