
#page-container {
   min-height:100%;
   position:relative;
}

html, body {
	font-family:futura;
	height:100%;
	margin:0;
  padding:0;
  color:(25,28,31);
}

.page-title {
  text-align: center;
  text-transform:uppercase;
  text-decoration: underline;
  font-size: 50px;
  padding: 1% 0% 0.25% 0%;
}

.page-subtitle {
  text-align: center;
  font-size: 25px;
  padding: 0% 2%;
  margin:0%
}

.container {
  max-width:100%;
}

a {
  text-decoration: none;
  color:none;
}

i {
  color:black;
}

video {
  width:15vw;
}

/* Start of Header/Nav */

.header-link {
  position: relative;
  color: #0B1B2C;
  text-decoration: none;
}

#auv-image {
  height: 120px;
  width: 180px;
}

.header-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0B1B2C;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.header-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



.header-link, .header-link:hover{
  color: #0B1B2C;
  font-family: sans-serif;
  font-weight: bold;
  font-size:15px/1.4em, ;
}


.header-link.active {
  color: #00AEA1;
}

.header-link.active:hover {
  color: #00AEA1;
}

.menu-toggle {
  display: none;
}

@media all and (max-width: 991px) {
  #first {
    order: 2;
  }
  #second {
    order: 1;
  }
  #third {
    order: 3;
  }
  .navbar {
    display: none;
  }
  .menu-toggle {
    display:block;
  }
}

#header {
   padding:0;
}

.banner {
	height:100%; 
	width:100%;
}

.

/* End of Header/Nav */

#body {
   padding-bottom:10vh;   /* Height of the footer */
}

/* Start of Footer */

#footer {
   position:absolute;
   bottom:0;
   left:0;
   width:100%;
   height:10vh;  
   background:#F0F0F0;
 }

.footer-text {
	padding-left:2%;
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
}

/* End of Footer */



/* Start of Home*/

#home .col-md-6 {
  max-width:100%;
  width:100%;
  padding:0;
}

.home-nav img {
  width: 100%;
  height:100vh;
  -webkit-transition: 0.75s ;
  -moz-transition: 0.75s ;
  -ms-transition: 0.75s ;
  -o-transition: 0.75s ;
  transition: 0.75s ; 
}

.home-nav .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 400%;
  color:rgb(255,255,255);
  border-bottom: 5px solid rgba(255,255,255, 0);
  text-align: center;
  -webkit-transition: border 0.75s ease;
  -moz-transition: border 0.75s ease;
  -ms-transition: border 0.75s ease;
  -o-transition: border 0.75s ease;
  transition: border 0.75s ease; 
}

.home-nav:hover img {
    animation-name: darken;
    animation-iteration-count:1;
    animation-duration: 0.75s;
    filter: brightness(55%);
}

.home-nav:hover .center {
	border-bottom: 5px solid rgba(255,255,255, 1);
}

@keyframes darken {
    from {filter: brightness(100%);}
    to {filter: brightness(55%);}
}

#home-blog .col-md-6 {
  border-bottom:;
}

.home-title {
  font-size: 40px;
  margin: 0; 
  text-align: center;
}

.home-title-underline {
  height:5px; 
  background: rgb(25,28,31); 
  margin: 0% 10%;
}

#twitter-timeline-home {
  transform: translateX(50%);
  padding-top:5%;
  margin:0%;
  width:50%;
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/* End of Home */

/* Start of Team */

.dropdown-btn {
  display: inline-block;
  top:75%;
  width:3%;
  transform: translateY(-25%);
  padding: 0;
  margin:0;
  transition: 0.75s;
  position:relative;
}

.dropdown-btn:hover {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  transition: 0.75s;
}

.team-info {
	display:inline-grid;
	list-style-type:none;
  padding: 0;
  padding-top: 0;
}

.team-photo {
	width: 10em;
  padding: 0;
}

.team-text {
	text-align: center;
}

.grade-title {
  padding-left:5%;
  font-size: 30px;
  text-decoration: underline;
  display: inline-block;
}

.show {
  display:block;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: 0.75s;
}

.move {
  padding-bottom:25%;
}

.rotate {
  animation-name: rotate;
  animation-iteration-count: 1;
  animation-duration: 0.75s;
  transform: rotate(180deg);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* End of Team */

/* Start of Social */

.card img {
  display: inline;
  width: 100px;
}

.card {
  background-color: #F0F0F0;
  padding: 2%;
  margin-bottom:2%;
  margin-left:3%;
  border:none;

}

.card img {
  padding:2%;
  width:50%;
  height:50%;
  left:50%;
  transform: translateX(50%);
}


/* End of Social */

/* Start of Sponsor */

.logo-gallery img {
  width:90%;
  margin:0% 1.5%;
  padding-top:3%;
}

.pop-up {
  position: absolute;
  bottom: 7%; 
  right: 0;
  height: 50%;
  width: 30%;
  background: #F0F0F0;
  border-top: solid 5px rgb(25,28,31);
  border-bottom: solid 5px rgb(25,28,31);
  border-left: solid 5px rgb(25,28,31);
  transition:all 385ms linear;
}

.pop-up p {
  text-align: center;
  margin:5%;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

.hide {
  opacity: 0;
}

.gone {
  display: none;
}
